<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lorien.linkagescroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WVLVActivity" />
        <activity android:name=".activity.WVRVActivity" />
        <activity android:name=".activity.WVSVActivity" />
        <activity android:name=".activity.WVGVActivity" />
        <activity android:name=".activity.LVRVActivity" />
        <activity android:name=".activity.GVRVActivity" />
        <activity android:name=".activity.RVSVActivity" />
        <activity android:name=".activity.SVGVActivity" />
        <activity android:name=".activity.RVWVActivity"></activity>
    </application>

</manifest>